<h2>View Data Component</h2>

<form (submit)="onSubmit()">
  <label for="month">Month:</label>
  <input type="text" id="month" name="month" [(ngModel)]="month">

  <label for="year">Year:</label>
  <input type="text" id="year" name="year" [(ngModel)]="year">

  <button type="submit">Submit</button>
</form>

<table>
 <thead>
    <tr>
        <th>AccountType</th>
        <th>Amount</th>
    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let group of dataSource">
        <td>{{group[0]}}</td>
        <td>{{group[1]}}</td>
      </tr>
 </tbody>
</table>