<div class="container">
    <h2 class="text-center">Upload CSV File</h2>
    <form>
        <input id="txt_year" (change)="onChangeYear($event)" type="text" class="text-center" placeholder="Year">
        <input id="txt_month" (change)="onChangeMonth($event)" type="text" class="text-center" placeholder="Month">
        <div class="form-group">
            <button type="submit" (click)="getData()">Get Data</button>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="R&D">
                <th mat-header-cell *matHeaderCellDef> R&D </th>
                <td mat-cell *matCellDef="let element"> {{element.RD}} </td>
            </ng-container>

            <ng-container matColumnDef="Canteen">
                <th mat-header-cell *matHeaderCellDef> Canteen </th>
                <td mat-cell *matCellDef="let element"> {{element.Canteen}} </td>
            </ng-container>

            <ng-container matColumnDef="CEO's Car">
                <th mat-header-cell *matHeaderCellDef> CEO's Car </th>
                <td mat-cell *matCellDef="let element"> {{element.CEO_Car}} </td>
            </ng-container>

            <ng-container matColumnDef="Marketing">
                <th mat-header-cell *matHeaderCellDef> Marketing </th>
                <td mat-cell *matCellDef="let element"> {{element.Marketing}} </td>
            </ng-container>

            <ng-container matColumnDef="Parkings fines">
                <th mat-header-cell *matHeaderCellDef> Parkings fines </th>
                <td mat-cell *matCellDef="let element"> {{element.Parkings_fines}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </form>
</div>